{{!< default}}

<header id="head" class="jumbotron" {{#if @blog.cover}}style="background-image:url({{@blog.cover}});background-position:center;background-size:cover"{{/if}}>
	<div class="blog-info">
    	<h1 class="blog-title">{{@blog.title}}</h1>
		<h3 class="blog-description">{{@blog.description}}</h3>
	</div>
</header>

<section id="splash">
	<section id="whoami" class="jumbotron container-fluid">
		<div class="row section-head">
			<h1>Who am I?</h1>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<img src="{{asset "img/educate.png"}}" height="120px" />
					</div>
					<p>I'm a high school senior. I constantly have to balance 
						my passions against school. I'm looking to attend a 
						university in the fall. We'll have to wait and see 
						which one.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<img src="{{asset "img/github.png"}}" height="120px" />
					</div>
					<p>I'm an open source software developer. I've been 
						programming for roughly six years. I'm primarily a Java 
						developer, but I'm looking to make a move toward 
						Haskell.</p>
					<div class="square-footer">
						I'm <a href="https://github.com/aaronweiss74">
						@aaronweiss74</a> on GitHub.
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<img src="{{asset "img/earth.png"}}" height="120px" />
					</div>
					<p>I'm an Internet denizen. You can find me all over the 
						web. I'm on 
						<a href="https://twitter.com/aaronweiss74">Twitter</a>, 
						<a href="https://facebook.com/aaronweiss74">
							Facebook</a>, 
						<a href="https://plus.google.com/+AaronWeiss74">
							Google+</a>, and 
						<a href="http://www.reddit.com/user/aaronweiss74">
							Reddit</a>. You can talk to me on
						<a href="irc://irc.fyrechat.net/vana">FyreChat</a> as 
						awe or aaronweiss74. You'll probably find me elsewhere, 
						too.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="whatdoithink" class="jumbotron container-fluid">
		<div class="row section-head">
			<h1>What do I think?</h1>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<img src="{{asset "img/leaf.png"}}" height="120px" />
					</div>
					<p>The environment is cruicial. Our treatment of the 
						environment is a reflection on our respect (or 
						lackthereof) for one another. I'm in favor of taxation 
						on carbon emissions and governmental support for 
						renewable energy research.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<img src="{{asset "img/decent.png"}}" height="120px" />
					</div>
					<p>Decentralization is powerful and reliable. In politics, 
						it allows government to best serve the people by 
						minimizing bureaucracy. In software, it allows users 
						and developers alike more freedom by preventing the 
						monopolization of data. Decentralization uniquely 
						empowers the individual.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<img src="{{asset "img/simple.png"}}" height="120px" />
					</div>
					<p>Simplicity is elegance. The best software, the best 
						design, and the best experience are all characterized 
						by simplicity. I allow minimalism to carry my design 
						methodology throughout the software I make, and I hope 
						that it always reflects that.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="whatdoido" class="jumbotron container-fluid">
		<div class="row section-head">
			<h1>What do I make?</h1>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<img src="{{asset "img/site.png"}}" height="120px" />
					</div>
					<p>I make minimalist websites. I favor flat designs over 
						gradients and other frills. I use JavaScript and Ruby 
						for backends, and HTML5 and CSS3 for frontends. I also 
						used to do PHP.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<img src="{{asset "img/link.png"}}" height="120px" />
					</div>
					<p>I make a variety of custom networked applications. I 
						work on designing and using simple, scalable network 
						protocols and writing reliable software upon said 
						protocols. I mainly put this energy towards games and 
						libraries for networking protocols.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<img src="{{asset "img/maple.png"}}" height="120px" />
					</div>
					<p>I make server emulators for multiplayer games. I work on 
						clean-room reverse engineering network protocols, and 
						building elegant and performant emulators atop them. My 
						target game of choice is MapleStory.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="cryptocoins" class="jumbotron container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<h2>BTC</h2>
						<img src="{{asset "img/btcqr.png"}}" height="200px" />
						<h5>18uJyuZR3LC65hLpC8GsbwWctpQ4JSzwbx</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<img src="{{asset "img/money.png"}}" height="120px" />
					</div>
					<p>I'm a big fan of cryptocurrencies. I fully support both bitcoin and dogecoin, and I'd like to see them grow into something much larger. As such, if you like any of the things I've worked on or just want to be a really nice person, I accept tips to either of the wallets included here. Tips are much appreciated.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="square">
					<div class="square-header">
						<h2>DOGE</h2>
						<img src="{{asset "img/dogeqr.png"}}" height="200px" />
						<h5>DEFhpokMCYZPQHBQ2bLht6hrFq4yvTriUk</h5>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="moreme" class="jumbotron container-fluid">
		<div class="row section-head">
			<h1><a href="#">Check out my blog.</a></h1>
		</div>
	</section>
</section>

<main class="content hidden" role="main">
    {{#foreach posts}}
    <article class="{{post_class}} jumbotron">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>{{tags}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt">
        	{{excerpt}}
        </section>
    </article>
    {{/foreach}}
</main>