{{!< default}}

<header id="head" class="jumbotron container-fluid" {{#if @blog.cover}}style="background-image:url({{@blog.cover}});background-position:center;background-size:cover"{{/if}}>
	<div class="blog-info row">
    	<h1 class="blog-title">
			<a href="{{@blog.url}}/#!blog">{{@blog.title}}</a>
		</h1>
		<h3 class="blog-description">{{@blog.description}}</h3>
	</div>
</header>

<main class="content" role="main">
	{{#post}}
    <article id="post" class="{{post_class}} jumbotron container-fluid">
		<script>
			var cs = ["#e74c3c", "#2ecc71", "#3498db", "#e67e22", "#9b59b6"];
			var c = cs[Math.floor(Math.random() * cs.length)];
			$("#post").css("background-color", c);
		</script>
		<section class="row">
			<div class="col-sm-12">
        		<header class="post-header">
            		<div class="post-meta">
						<time class="meta pull-left" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
						<span class="meta-container pull-right">
							{{#foreach tags}}
								<span class="meta">{{name}}</span>
							{{/foreach}}
						</span>
					</div>
					<div class="clearfix"></div>
            		<h2 class="post-title square">
						<a class="pull-left" href="{{url}}">{{{title}}}</a>
						<span class="pull-right">By {{author}}</span>
						<div class="clearfix"></div>
					</h2>
       		 	</header>
				<section class="post-content">
					{{content}}
				</section>
			</div>
		</section>
	</article>
	{{/post}}
	<section id="backtome" class="jumbotron container-fluid">
		<div class="row section-head">
			<h1><a href="{{@blog.url}}/#!blog">Back to posts.</a></h1>
		</div>
	</section>
</main>